{% extends "shop/shop.html" %}
{% load shop_filter %}


{% block content %}

<table summary="Your Shopping Cart" id="shopping_cart">
    <h1>Ваша корзина</h1>
    <thead>
    <tr>
        <th scope="col">Наименование</th>
        <th scope="col">Цена</th>
        <th></th>
        <th></th>
        <th></th>
        <th scope="col" class="right">Итого</th>
      	
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th class="right" colspan="5">К оплате:</th>
        <th class="right">{{ cart_subtotal|currency }}</th>
    </tr>
    {% if cart_items %}
    <tr>
        <th class="right" colspan="6">
            <a href="{% url 'cart:checkout' %}">Оформить заказ</a>
        </th>
    </tr>
    {% endif %}
    </tfoot>
    <tbody>
    {% if cart_items %}
        {% for item in cart_items %}
        <tr>
        <td>{{ item.item_name }}
            <a href="{{ item.get_absolute_url }}" class="cart">
                {{ item.item.item_name }}
            </a>
        </td>
        <td>{{ item.price|currency }}</td>
        <td class="right">
        <form  method="post" action="." class="cart" >{% csrf_token %}
        
        <div class="quantity">
            <input type="number" name="quantity" value="{{ item.quantity }}" id="quantity" min="1" max="9" step="1" />
        </div>
        <input type="hidden" name="item_id" value="{{ item.id }}" />
        </td>
        <td>
        <input class="buttons" type="submit" name="submit"  value="Обновить" />
        </form>
        </td>
        <td>
        <form style="" method="post" action="." class="cart">{% csrf_token %}
        <input type="hidden" name="item_id" value="{{ item.id }}" />
        <input class="buttons" type="submit" name="submit" value="X" />
        
        </form>
        </td>
        <td class="right">{{ item.total|currency }}</td>

        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6" style="height:30px;">Ваша корзина пуста</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/numbers.js"></script>
{% endblock %}