{% extends 'shop/shop.html' %}

{% block content %}

    <form method="post" action="{% url 'cart:send_email' %}">{% csrf_token %}
		
      <div style="width:500px; margin: 0 auto;">
        <h3 class="checkout_label">Информация о получателе:</h3>
        <div class="name">
            <input class="checkinput" placeholder="ФИО" type="text" name="name" maxlength="100">
        </div>
        
        <div class="email">
          <input required class="checkinput" placeholder="Email" type="email" name="email" maxlength="100">
        </div>

        <div class="phone">
          <input required class="checkinput" id="phone" placeholder="Телефон" type="text" name="phone" maxlength="100">
        </div>

        <div class="adress">
          <input class="checkinput" placeholder="Адрес" type="text" name="adress">
        </div>

        <div class="comment">
           <textarea class="checkinput" name="comment" placeholder="Примечание" cols="40" rows="4"></textarea>
        </div>


      <!--/div-->


        <!--div class="pay_type">
            <label for="pay_type">Способ оплаты:</label>
            <select name="pay_type">
                <option disabled>Выберети способ оплаты</option>
                <option selected value="Оплата наличными курьеру">Оплата наличными курьеру</option>
                <option value="Оплата картой">Оплата картой</option>
            </select>
        </div-->
	<!--div style="width:45%; float:right"-->
      	<div class="obtaining" >
           
          	<h3 class="checkout_label">Способ получения:</h3>
          
          <input type="radio" name="obtaining" value="Самовывоз" style="margin: 0 10px 0"> <b>Самовывоз</b>
          <input type="radio" name="obtaining" value="Доставка" style="margin: 0 10px 0"> <b>Доставка</b>
            <!--select required class="checkinput" name="obtaining">
              	
                <option value="Самовывоз">Самовывоз</option>
                <option value="Доставка">Доставка</option>
            </select-->
        </div>
      	
      	<!--h3 class="checkout_label">Способ оплаты:</h3>
          <input class="checkbuttons" type="submit" name="paytype" value="Оплата наличными"/>
          <input class="checkbuttons" type="submit" name="paytype" value="Оплата картой"/-->
      	<input class="checkbuttons" type="submit" name="paytype" value="Оформить заказ"/>
    	
      </div>
      
    </form>  

    <!--a href="{% url 'cart:send_email' %}">Подтвердить заказ</a-->

    <script type="text/javascript" src="{{ MEDIA_URL }}js/phone_form/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/phone_form/jquery.maskedinput-1.2.2.js"></script>

<script type="text/javascript">
    jQuery(function($) {
        $.mask.definitions['~']='[+-]';
        $('#phone').mask('(999) 999-9999');
    });</script>


{% endblock %}