* {
    padding:0;
    margin:0;

}

html{
    font:14px normal Arial, sans-serif;
    color:#626771;
    background-color:#fff;
	height: 100%;
}

body{
    margin: 0;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}


.wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

div.zoomdiv {
z-index                 : 100;
position                : absolute;
top:0px;
left:0px;
width                   : 200px;
height                  : 200px;
background: #ffffff;
border:1px solid #CCCCCC;
display:none;
text-align: center; 
overflow: hidden;

}


img.jqzoom{
cursor:crosshair;
position:relative;

}
span.tozoom{
float:left;

margin:5px;
}

span.tozoom img{
border: 1px solid #EEEEEE;
}

