* {
    padding:0;
    margin:0;
}
html{
    font:14px normal Arial, sans-serif;
    /* color:#626771;
    background-color:#fff;  -- убрано чтоб работал градиент*/
	height: 100%;

}
body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}
img{
	animation-duration: 2.3s; animation-name: fadeInOnLoad;
}
@keyframes fadeInOnLoad {
0%,50% {opacity: 0;}
100% {opacity: 1;}
}
div.wrapper {
	width: 930px;
	margin: 0 auto;
	padding: 0 10px;
}
/* ----------------- */
/* Оформление хэдера */
/* ----------------- */
header {
	background-color:White;
	/* background: repeating-linear-gradient(45deg, #f0f2ed, #f0f2ed 20px, #f8f4eb 20px, #f8f4eb 40px);*/
	box-shadow: 0 4px 6px rgba(0,0,0,.2);  
}
nav {
	margin: 0 auto;
	padding: 20px 0;
	overflow: hidden;
}
.logo-box {
	float: left;
	margin-left: 25px;
}
.logo {
	margin: 0;
	height: 70px;
	text-align: center;
}
ul.head {
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 50px;
	list-style: none;
	height: 70px;
	line-height: 70px;
	text-align:center;
}
a.heada {
	text-decoration: none;
	display: inline-block;
	position: relative;
}
li a.heada {
	color: black;
	text-transform: uppercase;
}
li a.heada:hover {
	color: gray;
}
li {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	transition: .5s linear;
}
li a.heada:after {
	content: "";
	width: 0;
	height: 2px;
	position: absolute;
	left: 0;
	top: 20px;
	background: black;
	transition: all 0.5s linear;  
}
li a.heada:hover:after{
	width: 100%;
}
@media screen and (max-width:574px) {
	.logo-box {
		float: none;
		margin: 0 auto;
	}
	ul {
		float: none;
		margin: 0 25px;
	}
	li:first-of-type {margin-left:0}
}
@media screen and (max-width:493px) {
	nav {
		overflow: visible
	}
	ul {
		height: auto;
		margin: 25px 25px 0 25px;
		line-height: 50px;
	}
	li {
		display: block;
		margin: 0;
	}
	li:hover {
		background: rgba(0,0,0,.1)
	}
	li a.heada:after {
		content: none;
	}
}
/* ----------------- */
/* Оформление основной части */
/* ----------------- */
main{
	margin: 25px;
	text-align:center;
	overflow:auto;
	padding-bottom: 250px;
	min-height:calc(100% - 175px);;
}
img.slider_images{
    width:100%;
    height:auto;
	animation-duration: 2.3s; animation-name: fadeInOnLoad;
}
@keyframes fadeInOnLoad {
0%,50% {opacity: 0;}
100% {opacity: 1;}
}
/* ----------------- */
/* Оформление футера */
/* ----------------- */
footer {
	position: relative;
	margin-top: -250px; /* negative value of footer height */

	height: 250px;
	clear:both;

	background-color: rgba(227, 227, 227, 1);
}
.fh{ /* Заголовки в футере */
	margin: 0;
line-height: normal;
letter-spacing: normal;
	font-family:impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
	font-size:18px;
}
div.footh{
	padding-top:30px;
	float: left;
	width: 30%;
	padding-right: 30px;
	margin-left:10px;
	color: black;
}
div.footb{
	color:white;
}
.sn{ /* Иконки соцсетей */
	width:32px;
	height:32px;
	margin-bottom:0;
	margin-right:5px;
	display:inline-block;
}
.line_foot{ 
	width: 22px;
	background:rgba(201, 201, 201, 1);
	height: 3px;
	margin-bottom: 20px;
	margin-top: 10px;
}
#subinput, #callinput{ /* Форма подписки */
	box-sizing: border-box;
	color: #4B4B4B;
	border-radius: 0;
	background-color: rgba(227, 227, 227, 1);
	font: normal normal normal 14px/1.4em raleway,sans-serif;
	border: 2px solid rgba(17, 20, 29, 1);
	padding: 5px;
	margin: 2px 0 7px;
	margin-top: 5px;
	width: 100%;
}
#subscribe, #callback{ /* Кнопка подписки */
	border-radius: 0;
	background-color: rgba(17, 20, 29, 1);
	font: normal normal normal 14px/1.4em raleway,sans-serif;
	color: #FFFFFF;
	padding: 5px 10px;
	border: 0;
	cursor: pointer;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0;
	float: right;
}
.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
#footers-bottom{ /* Нижняя полоса футера */
	position: relative;
	top: 40px;
	width: 100%;
	height: 50px;
	pointer-events: none;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	clip: rect(140px, auto, auto, 0px);
	background-color:rgba(36, 35, 35, 1);
}
div.footb{
	position:absolute;
	font-family:open sans,sans-serif;
}
div.footb div{
	position:absolute;
}
/* old styles */
.cb{
    clear:both;
}
.fr{
    float:right;
}
.fl{
    float:left;
}
.bn{
    border:none;
}
#main{
    margin:0 auto;
    width:900px;
    background-color:White;
}
.bannerIEPadder, .sidebarIEPadder, .contentIEPadder{
    padding:10px;
}
.navIEPadder, .footerIEPadder{
    padding:5px;
}
#banner{
    width:900px;
    height:75px;
    background-color:DarkOrange;
    color:White;
    font-size:36px;
    font-weight:bold;
    position:relative;
}
div.cart_box{
    display: inline-block;
    position: absolute;
    margin-left: 0px;
    padding: 0px;
    top: 25px;
    right: 30px;
    font-size:medium;
}
div.cart_box a{
}
#sidebar{
    width:200px;
    float:left;
}
#content{
    width:700px;
    float:left;
}
#footer{
    clear:both;
    background-color:#98AC5E;
    color:White;
    text-align:center;
}
a.skip_link{
    position:absolute;
    left:-1000px;
    top:-1000px;
}
#navigation{
    width:900px;
    height:auto;
    background-color:#98AC5E;
    text-align:middle;
}
#navigation ul{
    list-style:none;
}
#navigation ul li{
    float:left;
    margin-right:5px;
}
#navigation ul li a{
    color:White;
    font-weight:bold;
    text-decoration:underline;
}
#navigation ul li a:hover{
    color:#616161;
    background-color:White;
    text-decoration:none;
}
/* category page styles */
div.item_thumbnail{
    text-align:center;
    float:left;
    width:150px;
    height:200px;
}
img.catalog_item_img{
    width:90%;
    height:90%;
    margin:5px;
}
p.catalog_item_name{
    height:40px;

    margin-bottom:10px;
}
p.catalog_item_price{
    height:25px;
    margin-bottom:10px;
}
/* item page styles */
div.item_image{
    float:left;
    padding:0 10px 10px 0;
}

/* cart */
table#shopping_cart{
    width:100%;
    border-collapse:collapse;
    color:#616161;
}
h1,caption{
    text-align:left;
    font-size:x-large;
    margin-bottom:15px;
    color:Black;
}
th,td{
    text-align:left;
    padding:3px;
}
thead th{
    color:White;
    background-color:#616161;
}
tfoot th{
    height:40px;
}
table#shopping_cart th.right, td.right{
    text-align:right;
}
a.cart{
    color:black;
}
input.buttons{
	border-radius: 0;
	background-color: rgba(17, 20, 29, 1);
	font: normal normal normal 14px/1.4em; 
	color:white;
}

/* ----- */

a.category{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
	margin: 0px 10px 5px 10px;
	display:inline-block;
}
a.category:hover{
    color: gray;
}
a.category__active{
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
	cursor: default;
	margin: 0px 10px 5px 10px;
	display:inline-block;
}
ul#categories{
    list-style:none;
}
ul#categories li{
    font-weight:bold;
    color:#616161;
}
ul#categories li a{
    text-decoration:underline;
}

div#footer a{
    color:White;
    font-size:small;
    text-decoration:underline;
    font-weight:normal;
    margin-right:10px;
}

/**/
/**/
/* item */
/**/
/**/
.add__to__cart__button{
    background-color: rgba(17,20,29,1);
    border-width: 0;
    border-color: #BFA563;
    border-radius: 0;text-align: center;padding: 15px 20px;font-size: 15px;
    cursor: pointer;
    outline: 0;
    border-style: solid;overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;display: block;
    width: 100%;
    font:normal normal normal 17px/1.4em raleway,sans-serif ;
    color: #FFFFFF;margin-top: 25px;
    margin-bottom: 25px;
}
div.items__bottom_wrapp {
	width: 700px;
	margin: 0 auto;
	padding: 0 10px;
}
.slide p,
.slide [type="checkbox"]{
    display:none;
	margin-bottom:20px;
}
 
.slide [type="checkbox"]:checked ~ p {
    display:block;
	margin-bottom:20px;

}
#s3{

    margin-bottom:5px;
	margin-top:5px;
	padding-right: 5px;
    position: relative;
    display: block;
	text-align:left;
	width:100%;
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
    cursor: pointer;

}
#s4{
	display: inline-block;
	float:right;
	cursor: pointer;
}
/**/
/**/
/* item_end */
/**/
/**/

/* цифроввод */
.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 65px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -4px;
  height: 50%;
    font-size: 9px;
  
}

/**/
/**/
/* chechout */
/**/
/**/

.checkinput{ /* Форма подписки */
	
	box-sizing: border-box;
	color: #4B4B4B;
	border-radius: 0;
	background-color: white;
	font: normal normal normal 14px/1.4em raleway,sans-serif;
	border: 2px solid rgba(17, 20, 29, 1);
	padding: 5px;
	margin: 2px 0 6px;
	width: 100%;
	float:left;
}
.checkbuttons{ /* Кнопка подписки */
	border-radius: 0;
	background-color: rgba(17, 20, 29, 1);
	font: normal normal normal 14px/1.4em raleway,sans-serif;
	color: #FFFFFF;
	padding: 5px 10px;
	border: 0;
	bottom: 0;
	cursor: pointer;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	margin: 20px 0 7px;
	
	float: right;
	width: 100%;
}
.checkout_label{
	margin:20px;
	font-size:large;
}



.img_wrapper{
    overflow: hidden;
}
 
.img_wrapper img{
    opacity: 0;
}
.img_wrapper.loaded img{
    opacity: 1;
}

/**/
/**/
/* articles */
/**/
/**/

.size {
    white-space: normal; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    font-size: 1.8ex;
	height: 5.4ex;
    margin-top: 15px;
	text-align:justify;
	line-height: 1.8ex;
}


}
.article{
	height:auto;
  	margin-bottom: 20px;
}
.article__repr{
    width:100%;
    min-width:100%;
    margin: 10px 0 10px 0;
    height:auto;
	text-align:justify;
	clear:both;
}
.article__repr__index{
	width:100%;
    min-width:100%;
    margin-bottom:10px;
    height:auto;
	text-align:justify;
	padding: 10px;
	background-color: rgba(227, 227, 227, 1);
	float:left;
}
a.article__head{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
a.article__head:hover{
	color: gray;
}
.article__time{
    text-decoration: none;
	font-size: 80%;
    color: black;
}
.article__thumb{
	float:left;
	margin: 0 15px 10px 0;
}
.article__thumb__index{
	float:left;
	margin: 0 15px 0 0;
}
.article__next{
	float:right;
	margin-top: 55px;
	color: black;
}
.article__next__index{
	float:right;
	margin-top: 45px;
	color: black;
}
.article__next:hover{
	color: gray;
}
.article__next__index:hover{
	color: gray;
}