{% load static %}
{% with cart_item_count as cart_count %}
<div style="display: inline-block; background-image:url({% static '../media/cart_icon.PNG' %}); background-size: 40px 55px; background-repeat: no-repeat; width:40px; height:55px;"><a href="{% url 'cart:show_cart' %}" style="display:inline-block; width:40px; heigth:55px; text-align:center; padding-top:22px; color:white">{{ cart_count }}</a></div> 
{% endwith %}
