<div style="height:auto; margin-bottom: 50px;">
{% with active_categories as cats %}
    {% for c in cats %}
            {% if c.number != 1 and c.number != 0 %}
                {% ifequal c.get_absolute_url request_path %}
                    |
                    <a class="category__active">
                      {{ c.category_name }}
                    </a>
                {% else %}
                    |
                    <a href="{{ c.get_absolute_url }}" class="category">
                      {{ c.category_name }}
                    </a>
                {% endifequal %}
            {% elif c.number != 0 %}
                {% ifequal c.get_absolute_url request_path %}
                    <a class="category__active">
                      {{ c.category_name }}
                    </a>
                {% else %}
                    <a href="{{ c.get_absolute_url }}" class="category">
                      {{ c.category_name }}
                    </a>
                {% endifequal %}
            {% endif %}
    {% endfor %}
{% endwith %}
</div>