{% load shop_filter %}
{% load thumbnail %}

<div style="text-align:center; ">
{% with active_items as it %}
    {% for i in it %}
    <div style="width:25%; min-width:25%; margin-bottom:10px; height:auto;" class="item_thumbnail">
    {% ifequal i.get_absolute_url request_path %}
        {{ i.item_name }}<br />
    {% else %}
            <a href="{{ i.get_absolute_url }}" class="item">
              {% thumbnail i.preview "150x200" crop="center" as im %}
              	<img class="catalog__item__img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                <!--img class="catalog_item_img" src="{{ i.preview.url }}"/-->
			  {% endthumbnail %}
                <p class="catalog_item_name"> {{ i.item_name }} </p>
		<p class="catalog_item_price">{% if i.sale_price %}
                    Старая цена: <del>{{ i.old_price|currency }}</del>
                    <br />
                    Цена: {{ i.price|currency }}
                {% else %}
                   Цена: {{ i.price|currency }}
                {% endif %}
		</p>
            </a>
    {% endifequal %}
    </div>
  
    {% endfor %}
{% endwith %}
</div>