{% load thumbnail %}
{% load tz %}
<div class="article">


{% with last_article as arts %}
    {% for a in arts %}
    <div class="article__repr__index">
    {% ifequal a.get_absolute_url request_path %}
        {{ a.article_name }}<br />
    {% else %}
            
              <p>
                    {% thumbnail a.preview "212x158" crop="center" as im %}
                      <a href="{{ a.get_absolute_url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="article__thumb__index" onload="imgLoaded(this)"></a>
                    {% endthumbnail %}

              		<a href="{{ a.get_absolute_url }}" class="article__head">{{ a.article_name }}</a><br />
              		<span class="article__time">{{ a.created_at|date:"d.m.Y H:i" }}</span>
              		<p class="size">{{ a.article_text }}</p>
      				<a href="{{ a.get_absolute_url }}" class="article__next__index">Читать далее</a>
              </p>
            
    {% endifequal %}
    </div>
    {% endfor %}
{% endwith %}


</div>