<ul class="head">
    <li><a class="heada" href="{% url 'home' %}">ГЛАВНАЯ</a></li>
    <li><a class="heada" href="{% url 'shop:shopv' %}">КАТАЛОГ</a></li>
    <li><a class="heada" href="{% url 'pay' %}">Доставка и оплата</a></li>
    <li ><a class="heada" href="{% url 'about' %}">О нас</a></li>
    <li><a class="heada" href="{% url 'news' %}">Новости</a></li>
    <li ><a class="heada" href="{% url 'contacts' %}">КОНТАКТЫ</a></li>
</ul>
<div class="cb"></div>