{% extends 'shop/base.html' %}

{% block site_wrapper %}

<h1>О нас</h1>

<div style="width:30%; float:left;">

            <img src="{{ MEDIA_URL }}img/kont2.jpg" width=100% style="float:left;" onload="imgLoaded(this)"/>
            <img src="{{ MEDIA_URL }}img/kont1.jpg" width=100% style="float:left; margin-top: 5px;" onload="imgLoaded(this)"/>

</div>


<div style="text-align:justify; width: 65%; float:right;">
    <p  style="text-indent: 1.5em;">
        Компания «MasterTree» основана в 2015 году, в городе Великий Новгород. Это современное производство и художественная обработка изделий из дерева. Объединив технологии и высокохудожественный, 		кропотливый труд профессионалов, компания имеет полный цикл производства, от разработки макета, до полностью готового изделия. Используя в своей работе только отборное сырье и натуральные материалы для его обработки, 		компания "MasterTree" может гарантировать стабильное качество своей продукции. А индивидуальный подход в работе с клиентом, позволяет учесть все пожелания и особенности в производстве будущего изделия
  	</p>
    <br/>
    <h4>Приоритетными направлениями деятельности компании «MasterTree» являются:</h4>
    <p  style="text-align:left; margin-left: 20px;"><br>
    - разработка и изготовление различных изделий из массива дерева;<br>
    - объемная резьба с использованием технологического оборудования с дальнейшей ручной доработкой;<br>
    - изготовление товаров по индивидуальному заказу.</p><br>

    <h4>В ассортимент компании входят следующие виды товаров:</h4>
    <p  style="text-align:left; margin-left: 20px;"><br>
    - Объемные иконы и распятья (выполненные в классической, а также в авторской технике исполнения)<br>
    - Авторские панно и знаки геральдики (изделия выполненные на массиве дерева, в различных техниках исполнения)<br>
    - Мольберты (из массива дерева или фанеры)<br>
    - Шкатулки и футляры (изделия выполнены из массива дерева)<br>
    - Объемная резьба (балясины для лестниц, навершения, розетки)<br>
    - Ростовые статуэтки (изделия выполненные из массива дерева)   </p><br>
  
 <h4>Прямая речь от генерального директора Александра Павлова:</h4>
  <p  style="text-align:left; text-indent: 1.5em;"><br>Все больше людей начинают посещать храмы. А значит и возвращение иконы в дом - дело времени. Раньше на Руси в каждой избе существовал "Красный Угол" - священное место на восточной стороне дома - именно с этой стороны встает солнце, что дарит углу ассоциации с теплом и добром. Мы уверены: сегодня в доме также должно быть место, особенно для хозяев, куда можно поместить священный образ.</p><br>
<p  style="text-align:left; text-indent: 1.5em;">Филосифия компании проста: без труда не выловишь и рыбку из пруда. Этот факт объясняет наш подход к делу. Сам процесс производства стал мощной мотивацией к действию. Но сложное, но интересное ремесло, которым нужно жить, его нужно любить и делать с душой, только тогда результат будет радовать, процесс приносить удовлетворение и вдохновлять на новые свершения </p>
</div>



<!-- Скрипты для подключенных модулей -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

	<script type="text/javascript" src="{{ MEDIA_URL }}js/magnigic.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/gallery.js"></script>

{% endblock %}