{% extends "shop/base.html" %}
{% load thumbnail %}
{% load shop_filter %}
{% load tz %}

{% block site_wrapper %}


	<div class="wrapper">
		<section class="magnific-all">
		<div style="width:100%;">
			<h1 style="width:100%; text-align:left; margin-top:20px;">{{ a.article_name }}</h1>
          	<h5 style="width:100%; text-align:left; margin: -10px 0 -10px 0; color:gray;"> {{ a.created_at|date:"d.m.Y H:i" }} </h5>
		</div>
		</br>
		<p style="text-align:justify; text-indent: 0px; ">

                <a href="{{ a.preview.url }}" class="magnific item">
                    <img src="{{ a.preview.url }}" width=39% style="float:left; margin: 0 10px 0 0;" onload="imgLoaded(this)"/>
                </a>

		{{ a.article_text|ljust:"10"|linebreaksbr }}</p>

		<div style="float:left; width:100%; min-width:100%; margin-top: 5px;">
			{% for image in a.images.all %}
                    {% thumbnail image.article_image "100x100" crop="center" as im %}
                        <a href="{{ image.article_image.url }}" class="magnific item" style="float:left; margin: 0 1px 0 0;">
                            <img src="{{ im.url }}" width={{ im.width }} height={{ im.height }} onload="imgLoaded(this)"/>
                        </a>
                    {% endthumbnail %}
            {% endfor %}
		</div>
		</section>


</div>


	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/magnigic.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/gallery.js"></script>



{% endblock %}