<!DOCTYPE html>
{% load shop_tags %}
<html>

<head>
    <link rel="Stylesheet" type="text/css" href="{{ MEDIA_URL }}css_v12_2.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<link rel="icon" type="image/jpg" href="/favicon.jpg" />
    <title>{% block title %} {% if page_title %}{{ page_title }} - {% endif %}
        {{ site_name }}{% endblock %}</title>
    <meta name="keywords" content="{{ meta_keywords }}" />
    <meta name="description" content="{{ meta_description }}" />
  	<meta name="author" content="Daniel Markelov" />

    <!-- Стили для модулей -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}magnific.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style5.css" />

        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}slick/slick.css"/>
	<!-- Add the new slick-theme.css if you want the default styling -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}slick/slick-theme.css"/>

    <!-- Скрипты для подключенных модулей -->
    <script src="{{ MEDIA_URL }}js/modernizr.custom.63321.js"></script>
  	
	
</head>


<body > 
	
    <header>
    <!--Здесь и далее class="wrapper" используется для оцентровки материала -->
        <div class="wrapper">
        <!-- Главное меню сайта -->
            <nav>
                <div class="logo-box">
                    <h1 class="logo">
                        <a href="/">
                            <img id="logo" src="{{ MEDIA_URL }}img/logo.png" width="113" height="80">
                        </a>
                    </h1>
                </div>


                {% include "tags/navigation.html" %}


            </nav>
                <div class="cart_box" >
                    {% cart_box request %}
                </div>
        </div>
    </header>

	<!-- Раздел с контентом -->
      
	<main >
		<div class="wrapper">

            {% block site_wrapper %}{% endblock %}

	    </div>
	</main>
      


	<footer>

	<!-- Верх футера (серая часть, где адрес,соцсети и подписка) -->
	<div class="wrapper">
		<!-- Раздел с адресом -->
		<div class="footh" style="width:27%;">

			<h6  class="fh">СОЦСЕТИ</h6>
		
			<div class="line_foot"></div>
			
			<div >
				
				<div class="sn">
					<a href="http://vk.com/club126883775" target="_blank" >
                      <img  src="{{ MEDIA_URL }}img/vk.png"  >
					</a>
				</div>
				<div class="sn" >
					<a href="https://facebook.com/mastertreevn/" target="_blank" >
                      <img src="{{ MEDIA_URL }}img/fb.png" >
					</a>
				</div>
				<div class="sn" >
					<a href="https://instagram.com/master_tree_vn" target="_blank" >
                      <img src="{{ MEDIA_URL }}img/inst.png"  >
					</a>
				</div>
			</div>
		</div>
      
		<div class="footh" >
			
			<h6 class="fh">ОБРАТНЫЙ ЗВОНОК</h6>

			<div class="line_foot"></div>
			
			<div >
              <form method="post" action="{% url 'shop:callback' %}">{% csrf_token %}
				<p>Оставьте свой телефон. Наш оператор с вами свяжется в ближайшее время.</p>
				<input required id="callinput" placeholder="Телефон" type="text" name="callphone" maxlength="100"></br>
				<input type="submit" id="callback" value="Жду звонка">
              </form>
			</div>
		</div>	
		<!-- Раздел с подпиской -->
		<div class="footh" style="float:right; padding-right: 10px;">
			
			<h6 class="fh">ПРИСОЕДИНЯЙТЕСЬ</h6>
			
			
			<div class="line_foot"></div>
			
			<div >
              <form method="post" action="{% url 'shop:subscribe' %}">{% csrf_token %}
				<p>Подпишитесь на обновления</p></br></br>
				<input required id="subinput" placeholder="Email" name="submail" type="email"></br>
				<input type="submit" id="subscribe" value="Подписаться">
              </form>
			</div>
		</div>
		<!-- Раздел с соцсетями -->
		
	</div>
	
	<div class="cleaner"></div>
	
	<!-- Низ футера(черная полоска) -->
	
	<div id="footers-bottom">
		<div class="wrapper">
		
			<div class="footb" >
			
				<div style="left: 5px; top: 10px; width: 24px; height: 29px;" >
					<img src="{{ MEDIA_URL }}img/box.png" >
				</div>
				
				<div style="left: 50px; width: 438px;  top: 16px;" >
					<p>БЫСТРАЯ ДОСТАВКА В ЛЮБОЙ ГОРОД РОССИИ</p>
				</div>
				
				<div style="left: 803px; width: 166px; top: 14px;" >
					<p>© 2016 Master Tree.</p>
				</div>
			</div>
		</div>
	</div>
	
</footer>


	

</body>

</html>