{% extends "shop/shop.html" %}
{% load thumbnail %}
{% load shop_filter %}
{% load shop_tags %}
{% block content %}
<div style="text-align:center;">
    <!--h1>{{ c.category_name }}</h1-->
    
	{% category_list request.path %}
  	<br /><br />
    {% for i in items %}
        <div style=" width:25%; height:auto; margin-bottom:10px; " class="item_thumbnail">
            <a href="{{ i.get_absolute_url }}">
                <!--img class="catalog_item_img" src="{{ i.preview.url }}" width="90%" height="90%" alt="{{ i.item_name }}" class="bn" /-->
				{% thumbnail i.preview "150x200" crop="center" as im %}
              		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" onload="imgLoaded(this)">
                <!--img class="catalog_item_img" src="{{ i.preview.url }}"/-->
			  	{% endthumbnail %}
                <p class="catalog_item_name"> {{ i.item_name }} </p>
              	<p class="catalog_item_price">{% if i.sale_price %}
                    Старая цена: <del>{{ i.old_price|currency }}</del>
                    <br />
                    Цена: {{ i.price|currency }}
                {% else %}
                   Цена: {{ i.price|currency }}
                {% endif %}
		</p>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}