{% extends 'shop/base.html' %}

{% block site_wrapper %}
<h1>Контакты</h1>
<div class="contact">


    <div id="map" style="width: 100%; height: 350px;"></div>
  <div class="cb"></div>
	<div style="text-align:left; margin-top:20px;">
      <div>
          <h4>Производство:</h4><br>
           <p>173021, Россия</p>
           <p>Великий Новгород,</p>
           <p>Ул. Нехинская 59Б,</p>
           <p>Телефон: +7 (911) 600-78-88</p>
		</div>
    </div>
    <div style="clear:both; padding-top: 10px;">
        <form method="post" action="{% url 'shop:contacts' %}">{% csrf_token %}
            <h2 class="checkout_label">Есть вопрос?</h2>
            <div style="width:100%; margin: 0 auto;">

              <div style="width:49.8%; float:left;">
                  <div class="name">
                      <input style="height: 35px;" class="checkinput" placeholder="ФИО" type="text" name="mess_name" maxlength="100">
                  </div>

                  <div class="email">
                    <input style="height: 35px;" required class="checkinput" placeholder="Email" type="email" name="mess_email" maxlength="100">
                  </div>

                  <div class="subject">
                    <input style="height: 35px;" class="checkinput" placeholder="Тема" type="text" name="mess_subject">
                  </div>
            </div>

            <div style="width:49.8%; float:right;">
                 <textarea style="height:121px;" required class="checkinput" name="mess_message" placeholder="Сообщение" cols="40" rows="4"></textarea>
            </div>

            </div>
            <input class="checkbuttons" style="margin-top:0; width:20%;" type="submit" name="send_message" value="Отправить"/>
      </form>
    </div>
</div>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/geo.js"type="text/javascript"></script>
{% endblock %}