{% extends 'shop/base.html' %}

{% block content %}
<img src="{{ item.preview.url }}" height="200" onload="imgLoaded(this)">
</br>
{% for image in item.images.all %}
    <img src="{{ image.item_image.url }}" height="100" onload="imgLoaded(this)">
{% endfor %}
<h1> {{ item.item_name }} </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<br/>
<h2>Описание:</h2>
<p>{{ item.description }} </p>
{% endblock %}