{% extends "shop/base.html" %}
{% load staticfiles %}
{% load shop_tags %}
{% block site_wrapper %}
    {% block content %}
        
    <div class="your-class" style="text-align:center">
		
        {% for img in slider_images %}
                <div><a href=" {{ img.link }} "><div class=""><img class="slider_images" src="{{ img.img.url }}" onload="imgLoaded(this)"></img></div></a></div>
        {% endfor %}
       
	</div>

	<h1 style="text-align:center;">Master Tree - художественная мастерская</h1>
    <p style="text-align:justify; text-indent: 1.5em;">Компания "Master Tree" основывалась как художественная мастерская по обработке дерева. Главная цель, которую поставили перед собой создатели - это производство действительно качественного продукта, который был бы одинаково уместен и как семейная реликвия, и как подарок близкому человеку. Еще одно задачей , уже просветительского характера, стало продвижение традиций Великого Новгорода, возрождение ремесла "Икона на рези", написанной в авторской технике.</p></br>
    <p style="text-align:justify; text-indent: 1.5em;">Работая на стыке технологии и традиции, в каждую икону автор вкладывает душу, наполняя ее не только духовным смыслом, но и теплом своих рук. Соединив возможности современного производства и устоявшиеся каноны иконописи, мастер создает продукт, место для которого есть даже в самом современном доме.</p>

	<div class="iconlink">
        <div style="width:20%; float:right;">
          	<p style="opacity:0">gagasdg</p>
        </div>
      <div style="width:20%; float:left;">
          	<p style="opacity:0">gagasdg</p>
        </div>
        <div style="width:29%; float:left; text-align:center;">
          	<h2 style="width: 80%; margin: 100px 0 15px 0;">Святая Троица</h2>
          	<p style="width: 80%;">Одной из наиболее почитаемых у нас икон является икона Святая Троица.</p>
          	<form action="http://mastertree.ru/shop/item/svyataya-troica/"> <input type="submit" class="add__to__cart__button" style="width:80%;" value="Купить"></form>
        </div>
      <div style="width:29%; float:right;">
        	<img src="{{ MEDIA_URL }}img/st3.jpg" style="width:100%;"/>
      </div>
  	</div>
<div class="cb" style=""></div>
<div style="width:33%; height: 50px; float:left; margin-top: 50px; ">
  <h4>Уникальность каждой иконы</h4>
</div>
<div style="width:33%; height: 50px; float:left; margin-top: 50px;">
  <h4>Более 100 образов</h4>
</div>
<div style="width:33%; height: 50px; float:right; margin-top: 50px;">
  <h4>Натуральные материалы и краски</h4>
</div>
<div class="cb"></div>
<div style="width:33%; height: 50px; float:left;">
  <h4>Соблюдение православных канонов</h4>
</div>
<div style="width:33%; height: 50px; float:left;">
  <h4>Изготовление любых размеров</h4>
</div>
<div style="width:33%; height: 50px; float:right; margin-bottom: 50px;">
  <h4>Золочение сусальным золотом</h4>
</div>

	{% last_article_item request.path %}

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}slick/slick.min.js"></script>
	<script type="text/javascript" >
		$(document).ready(function(){
			$('.your-class').slick({
				dots: true,
				autoplay: true,
				speed: 900, <!-- Скорость перелистывания -->
				autoplaySpeed: 8000, <!-- Частота перелистывания -->
				pauseOnFocus: false,
				pauseOnHover: false,
				pauseOnDotsHover: true,
				
			});
		});
	</script>
	<script>
        function imgLoaded(img){
          var $img = $(img);

          $img.parent().addClass('loaded');
      	};
  	</script>
    {% endblock %}
{% endblock %}