{% extends "shop/shop.html" %}
{% load thumbnail %}
{% load shop_filter %}
{% load tz %}

{% block content %}
    <div class="bread" style="color:gray;">
        <a href="{% url 'shop:shopv' %}" style="color:black"> Каталог </a>
        >
        В категори{{ categories.count|pluralize:"и,ях" }}:
            {% for c in categories %}
                <a style="color:black" href="{{ c.get_absolute_url }}">{{ c.category_name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        >
        {{ i.item_name }}
	</div>
        <br /><br />
<div class="wrapper">

		</br>
		<div style="width:59%; float:left;">
		<section class="magnific-all">
			<a href="{{ i.preview.url }}" class="magnific item">
                <img src="{{ i.preview.url}}" width=90% style="float:left;" onload="imgLoaded(this)"/>
			</a>
            <div style="float:left; margin-top: 5px;" >
                {% for image in i.images.all %}
                    {% thumbnail image.item_image "100x100" crop="center" as im %}
                        <a href="{{ image.item_image.url }}" class="magnific item">
                            <img src="{{ im.url }}" width={{ im.width }} height={{ im.height }} onload="imgLoaded(this)"/>
                        </a>
                    {% endthumbnail %}
                {% endfor %}


            </div>
		</section>


		</div>

		<div style="width:39%; float:right; text-align:left;">
			<h2 style="margin-top: 0px; float:left; width:100%">{{ i.item_name }}</h2>

			<div id="pricediv" style="float:left; margin: 10px 0; width:100%" >
                <h4>
                    {% if i.sale_price %}
                        Старая цена: <del> {{ i.old_price|currency }}</del>
                        <br />
                        Цена: {{ i.price|currency }}
                    {% else %}
                        Цена: {{ i.price|currency }}
                    {% endif %}
                </h4>
            </div>
            <br /><br />

            <form method="post" action="" class="cart">
                {% csrf_token %}
                {{ form.as_p }}
                <br />

				<input type="submit" name="add_to_cart" class="add__to__cart__button" value="Добавить в корзину"></p>
            </form>


			<p class="content" style="text-align:left; clear:both">{{ i.description|ljust:"10"|linebreaksbr }}</p>
   		</div>
<div class="items__bottom_wrapp">
        <div style="width=100%; clear:both;">

			<hr/>
			<div class="slide" style="clear:both">
				<label id="s3" for="slide2" onclick="javascript:if(document.getElementById('slide2').checked){ document.getElementById('s4').innerHTML='+' } else { document.getElementById('s4').innerHTML='—' } ">Описание
					<label id="s4" for="slide2" onclick="javascript:if(document.getElementById('slide2').checked){ document.getElementById('s4').innerHTML='+' } else { document.getElementById('s4').innerHTML='—' } ">—</label>
				</label>
				<input type="checkbox" checked id="slide2"/>
					<p class="content" id="s5" style="text-align:justify; clear:both">{{ i.about|ljust:"10"|linebreaksbr }}</p>

			</div>

			<h3>Отзывы:</h3>

			{% for comment in comments %}
              <div style=" width:100%; text-align: justify; margin-bottom:10px; ">
                  <h4> {{ comment.comm_name }} </h4>
                <h5 style="margin-bottom: 5px;"> {{ comment.created_at|date:"d.m.Y H:i:s"  }} </h5>
                  <p> {{ comment.comment }} </p>

              </div>
    		{% endfor %}
    </div>

          	<div style="height:auto; margin-bottom:50px;">
              <form method="post" action="{% url 'shop:add_comment' %}">{% csrf_token %}
                <h3>Оставьте свой отзыв</h3>
				<input type="hidden" name="item" value="{{ i.id }}">

		<div style="width:49.8%; float:left; height:auto;">
          <div class="name">
              <input style="height: 35px;" required class="checkinput" placeholder="ФИО" type="text" name="comm_name" maxlength="100">
          </div>
          <div class="email">
            <input style="height: 35px;"  class="checkinput" placeholder="Email для обратной связи ( необязательно )" type="email" name="comm_email" maxlength="100">
          </div>
        </div>


        <div style="width:49.8%; float:right; height:auto;" >
             <textarea style="height:78px;"  required class="checkinput" name="comment" placeholder="Сообщение" cols="40" rows="4"></textarea>
			 
        </div>
                
				<input type="submit" id="subscribe" value="Добавить отзыв">
              </form>
			</div>
  </div>
	<!-- Скрипты для подключенных модулей -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

	<script type="text/javascript" src="{{ MEDIA_URL }}js/numbers.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/magnigic.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/gallery.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.dropdown.js"></script>
	<script type="text/javascript">
		
		$( function() {
			
			$( '#cd-dropdown' ).dropdown( {
				gutter : 5,
				stack : false,
				slidingIn : 100
			} );
		});

	</script>


{% endblock %}