{% extends 'shop/base.html' %}

{% block site_wrapper %}
<h1>Доставка и оплата</h1>

<div style="width:30%; float:left;">

            <img src="{{ MEDIA_URL }}img/deliev.png" width=100% style="float:left;"/>
            <img src="{{ MEDIA_URL }}img/deliev2.png" width=100% style="float:left; margin-top: 5px;"/>
            <img src="{{ MEDIA_URL }}img/paym.png" width=100% style="float:left; margin-top: 5px;"/>

</div>

<div style="text-align:justify; width: 65%; float:right;">
    <h4>Доставка</h4>
    <br/>
    <p style="text-align: justify; text-indent: 1.5em;">
        Компания «MasterTree» сотрудничает с надежными компаниями перевозчиками и курьерскими службами, которые смогут доставить приобретенное Вами изделие по всей территории России, а также в другие страны мира. Сроки доставки определяются индивидуально в зависимости от выбранной компании-перевозчика и наличия выбранной позиции на нашем складе. Все вопросы, связанные с доставкой заказанного клиентом товара обсуждаются с менеджером компании «MasterTree» и подтверждаются в электронном виде по средствам e-mailоповещения.
  	<p>
    <br/>
    <h4>Оплата</h4>
    <br/>
    <p style="text-align: justify; text-indent: 1.5em;">
      	Для Вашего удобства, оплата за изделия осуществляется различными способами. Вы можете подобрать наиболее подходящий для Вас. После согласования с заказчиком всех аспектов заказываемой работы, оплата происходит в два этапа:
  	</p>

    <p style="text-align: left; text-indent: 1.5em;">1. Предоплата в размере 50% от полной стоимости изделия;</p>

    <p style="text-align: left; text-indent: 1.5em;">2. Оставшиеся 50% заказчик оплачивает по факту готовности  изделия непосредственно на производстве.</p>
    <br/>
    <p style="text-align: justify; text-indent: 1.5em;">
        После получения 100% оплаты изделие забирается самовывозом, или по средствам доставки транспортной компанией.
      Компания «MasterTree» берет на себя ответственность страхования всех отправляемых грузов через транспортные компании.
      В случае если у Вас возникли вопросы, Вы можете задать их по телефону +7 911 600 78 88, или написать нам на почту info@mastertree.ru
  	</p>
<div>

<!-- Скрипты для подключенных модулей -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

	<script type="text/javascript" src="{{ MEDIA_URL }}js/magnigic.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/gallery.js"></script>
{% endblock %}