{% extends "shop/base.html" %}
{% load shop_tags %}

{% block site_wrapper %}
    <a href="#content" class="skip_link">Skip to main content</a>


            <a name="content"></a>
                {% block content %}
                {% category_list request.path %}
                    {% item_list request.path %}
					  	<script>	
                            function imgLoaded(img){
                              var $img = $(img);

                              $img.parent().addClass('loaded');
                            };
  						</script>
                {% endblock %}
{% endblock %}