{% extends "shop/base2.html" %}
{% load staticfiles %}
{% load shop_tags %}
{% block site_wrapper %}
    {% block content %}
<div>      
  <div class="wrapper">
  		<div class="slider__sub" style="color: black;  height: 0; width: 0;    text-align:center;  left: 580px;    position: relative;    top: 170px;    white-space: nowrap; z-index: 11;">
          <p style="font-size: 66px; font-weight:bolder;">РЕЗНЫЕ</p>
          <p style="font-size: 66px; font-weight:bolder;">ИКОНЫ</p>
		</div>
  </div>
    <div class="slider" style="text-align:center; z-index: 2;">

        {% for img in slider_images %}
                <a href=" {{ img.link }} "><img class="slider_images" src="{{ img.img.url }}"></img></a>
        {% endfor %}

	</div>


</div>
<div class="wrapper">

	<div class="iconlink">
        <div style="width:15%; float:right;">
          	<p style="opacity:0">gagasdg</p>
        </div>
      <div style="width:15%; float:left;">
          	<p style="opacity:0">gagasdg</p>
        </div>
        <div style="width:29%; float:left; text-align:center;">
          	<h2 style="width: 80%; margin: 150px 0 15px 0;">Святая Троица</h2>
          	<p style="width: 80%;">Одной из наиболее почитаемых у нас икон является икона Святая Троица.</p>
          	<form action="http://mastertree.ru/shop/item/svyataya-troica/"> <input type="submit" class="add__to__cart__button" style="width:80%;" value="Купить"></form>
        </div>
      <div style="width:39%; float:right;">
        	<img src="{{ MEDIA_URL }}img/st3.jpg" style="width:100%;"/>
      </div>
  	</div>

	{% last_article_item request.path %}
</div>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}slick/slick.min.js"></script>
	
	<script type="text/javascript" >
		$(document).ready(function(){
			$('.slider').slick({
				dots: true,
				autoplay: true,
				speed: 900, <!-- Скорость перелистывания -->
				autoplaySpeed: 8000, <!-- Частота перелистывания -->
				pauseOnFocus: false,
				pauseOnHover: false,
				pauseOnDotsHover: true,
				
			});
		});
	</script>
    {% endblock %}
{% endblock %}